:root {
  --color-orange-dark2: #f56a2e;
  --color-orange-dark1: #fb8441;
  --color-orange-main: #ff9a51;
  --color-orange-light1: #fda65b;
  --color-orange-light2: #fab66a;
  --color-orange-light3: rgb(249, 232, 212);
  --color-orange-light4: rgb(253, 249, 244);
  --color-blue-dark2: rgb(20, 22, 42);
  --color-blue-dark1: #23273e;
  --color-blue-main: #323852;
  --color-blue-light1: #3e415c;
  --color-blue-light2: #4d4d69;
  --color-blue-light3: #6d6d90;
  --color-blue-light4: rgb(168, 168, 185);
  --color-blue-light5: rgb(235, 235, 242);

  --fontSize-xxxl: 4rem; /*64px*/
  --fontSize-xxl: 3.25rem; /*52px*/
  --fontSize-xl: 3rem; /*48px*/
  --fontSize-l: 1.75rem; /*28px*/
  --fontSize-m: 1.25rem; /*20px*/
  --fontSize-s: 1rem; /*16px*/

  --padding-horizontal-xl: 300px;
  --padding-horizontal-l: 200px;
  --padding-horizontal-m: 100px;
  --padding-horizontal-s: 70px;
  --padding-horizontal-xs: 40px;
  --padding-vertical-s: 15px;
  --padding-vertical-m: 30px;
  --padding-vertical-l: 100px;
  --padding-card: 38px;
}
