.list {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.top {
  align-items: center;
  gap: 4rem;
}

.bottom {
  flex-direction: column;
  align-items: end;
}

.listItem {
  font-size: var(--fontSize-s);
}

.copyright {
  color: var(--color-blue-light4);
}

a {
  text-decoration: none;
  color: var(--color-orange-light4);
}
