.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 130px;
  padding: 0 var(--padding-horizontal-m) var(--padding-vertical-l);
  margin-top: -162px;
}

.serviceCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
