.background {
  background: url(../../public/assets/images/hero.png) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.blur {
  height: 100%;
  width: 100%;
  background: rgb(20, 22, 42, 0.65);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--color-orange-light4);
  font-size: 3rem;
}

.titleHiglight {
  color: var(--color-orange-main);
}
